<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../assets/dummy.jpg" alt="employee">
                    <button class="btn btn-danger" (click)="back()">Back</button>
                </div>
                <div class="col-md-9">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <td>{{employee.Name}}</td>
                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>{{employee.Age}}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{employee.Email}}</td>
                        </tr>
                        <tr>
                            <th>Street</th>
                            <td>{{employee.Street}}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{employee.City}}</td>
                        </tr>
                        <tr>
                            <th>Zip</th>
                            <td>{{employee.Zip}}</td>
                        </tr>
                        <tr>
                            <th>Region</th>
                            <td>{{employee.Region}}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{employee.Country}}</td>
                        </tr>
                        <tr>
                            <th>Info</th>
                            <td>{{employee.Info}}</td>
                        </tr>
                        <tr>
                            <th>EmployeeID</th>
                            <td>{{employee.EmployeeID}}</td>
                        </tr>
                        <tr>
                            <th>DateOfJoining</th>
                            <td>{{employee.DateOfJoining}}</td>
                        </tr>
                        <tr>
                            <th>PhoneNumber</th>
                            <td>{{employee.PhoneNumber}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>