<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a  class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
        <li class="nav-item">
            <a  class="nav-link" routerLink="/body"><i class="fas fa-home"></i> Body</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus"></i> SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dummy">Dummy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pagination">Pagination</a>
        </li>
    </ul>
</nav>