<button type="button" class="btn btn-success" (click)="onClick()">Click</button>
<div [hidden]='displayContent'>
    real hidden directive show/hide
</div>
<button type="button" class="btn btn-success" (click)="onShowClick()">showMe</button>
<div *ngIf="showMe">
    ngIf directive add/remove
</div>
<div *ngIf="!showMe">
    not ngIf directive
</div>
<div [ngClass]="{hal:showMe}">
    ngClass directive
</div>
<div [ngStyle]="{'color':showMe?'red':'yellow'}">
    style directive
</div>
<div appHiglight>
    appHiglight directive
</div>
<div appHiglight>
    appHiglight directive
</div>
<div appHiglight>
    appHiglight directive
</div>
<div>
    {{'MyPipes'|uppercase}}
</div>
<div>
    {{'MyPipes'|lowercase}}
</div>
<div>
    {{'myPipes'|titlecase}}
</div>
<div>
    {{'pipes'|language}}
</div>