<div>
    <button (click)="setPage(0)">
            <i class="fas fa-angle-double-left"></i>
    </button>
    <button [disabled]="page === 0" (click)="setPage(page - 1)">
        <i class="fas fa-angle-left"></i>
    </button>
    <button *ngFor="let parray of page_array;index as i" (click)=setPage(i)>{{i+1}}</button>
    <!-- <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button>6</button>
    <button>7</button>
    <button>8</button>
    <button>9</button>
    <button>10</button> -->
    <button [disabled]="page === lastPage" (click)="setPage(page + 1)">
        <i class="fas fa-angle-right"></i>
    </button>
    <button (click)="setPage(lastPage)">
            <i class="fas fa-angle-double-right"></i>
    </button>
</div>
<table>
    <tr>
        <th>postId</th>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>body</th>
        <th>index</th>
    </tr>
    <tr *ngFor="let comment of comments;index as i">
        <td *ngIf="i>=initial && i<end">{{comment.postId}}</td>
        <td *ngIf="i>=initial && i<end">{{comment.id}}</td>
        <td *ngIf="i>=initial && i<end">{{comment.name}}</td>
        <td *ngIf="i>=initial && i<end">{{comment.email}}</td>
        <td *ngIf="i>=initial && i<end">{{comment.body}}</td>
        <td *ngIf="i>=initial && i<end">{{i}}</td>
    </tr>
</table>
