<form #ref="ngForm" class="login-container">
  <div class="form-group">
    <label for="userName"><i class="fas fa-user"></i> User Name</label>
    <input type="text" ngModel name="username" class="form-control" id="userName" required placeholder="Enter User Name"
      minlength="5" maxlength="10">
    <small style="color: red" *ngIf="ref.controls.username?.touched && ref.controls.username?.errors?.required">Username
      is required</small>
    <small style="color: red" *ngIf="ref.controls.username?.touched && ref.controls.username?.errors?.minlength">Minimum
      length
      is required</small>

    <small style="color: red" *ngIf="ref.controls.username?.touched && ref.controls.username?.errors?.maxlength">Maximum
      length should not exceed
    </small>

  </div>
  <div class="form-group">
    <label for="userPassword"><i class="fas fa-key"></i> Password</label>
    <input type="password" ngModel name="password" required minlength="5" maxlength="10" class="form-control"
      id="userPassword" placeholder="Password">
    <small style="color: red" *ngIf="ref.controls.password?.touched && ref.controls.password?.errors?.required">Password is Required</small>
    <small style="color: red" *ngIf="ref.controls.password?.touched && ref.controls.password?.errors?.minlength">Minimum length is Required</small>
    <small style="color: red" *ngIf="ref.controls.password?.touched && ref.controls.password?.errors?.maxlength">Password Should not exceed maximum limit</small>
    <!-- <small style="color:red" *ngIf="ref.controls.password?.touched  && ref.controls.password?.errors?.required">
      password is requiedd</small>
    <small style="color:red" *ngIf="ref.controls.password?.touched  && ref.controls.password?.errors?.minlength">
      Minimmum length is required</small>
    <small style="color:red" *ngIf="ref.controls.password?.touched  && ref.controls.password?.errors?.maxlength">
      Maxlength should not exceed</small> -->

  </div>
  <div class="form-row text-center">
    <div class="col-12">
      <button type="button" class="btn btn-success" (click)="login(ref)">Submit</button>
    </div>
  </div>
</form>